.App {
  text-align: center;
  display: flex;
  position: relative;
  height: 95vh;
  width: 100%;
  padding: 0px;
}

li {
  list-style: none;
}

.list {
  padding: 10px;
}

.left {
  background-color: #DCDDE2;
  position: relative;
  height: 95vh;
  width: 25%;
}

.contactInfo {
  background-color: white;
  margin: 0 auto;
}

.detail {
  margin: auto;
}

.edit {
    display: inline-block;
  margin: auto;
}

.add { 
    display: inline-block;
  margin: auto;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.addBtn {
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 100px;
}

.dltBtn {
  bottom: 0px;
  right: 100px;
}