.App {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
}

/*Left Side*/

li {
  list-style: none;
}

.left {
  background-color: #DCDDE2;
  position: relative;
  height: 95vh;
  width: 33vh;
}

.list {
  padding: 30px;
  cursor: default;
}

/*Main Section*/

.container {
  margin: auto;
  width: 100vh;
}

.personalName {
  position: fixed;
  margin-left: auto;
  padding-top: 55px;
  top: 0;
}

.personalDetail {
  margin-left: auto;
}

.addName {
  position: fixed;
  margin-left: auto;
  padding-top: 55px;
  top: 0;
}

.addDetail {
  margin-left: auto;
}

.editName {
  position: fixed;
  margin-left: auto;
  padding-top: 55px;
  top: 0;
}

.editDetail {
  margin-left: auto;
}

/*Footer Section*/

.footer {
  margin: auto;
  display: flex;
  position: absolute;
  bottom: 10%;
}

.addBtn {
  position: relative;
}

.edtBtn {
  position: absolute;
  margin-left: 600%;
}

.dltBtn {
  position: relative;
  margin-left: 630%;
}